{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project TPE - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/coustumer.css' %}">
    <style>
        .bg-register-images {
            background: url("https://www.lecoindesentrepreneurs.fr/wp-content/uploads/2017/03/conditions-generales-dutilisation.jpg");
            background-position: center;
            background-size: cover;
        }

        .bg-gradient-primarys {
            background-color: #4e73df;
            background-image: url("{% static 'img/17973908.jpg' %}");
            background-size: cover;
        }

        .centers {
            margin-top: 10%;
        }
    </style>
</head>

<body class="bg-gradient-primarys">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg centers">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-images"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">CGU TFE</h1>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore magni consequuntur
                                    maxime hic eaque quae veritatis quos dolor? Odio beatae expedita dolorum eius
                                    doloribus deserunt provident, dolore corporis quo saepe.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit nobis architecto
                                    autem unde, voluptates, asperiores odio aperiam qui, suscipit quo quos incidunt?
                                    Quisquam reiciendis tempora aliquam cumque accusamus natus voluptate.
                                </p>

                                <p>
                                    <a href="{% url 'register' %}">S'inscrire</a>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>