{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project TPE - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/coustumer.css' %}">
    <style>
        .bg-register-images {
            background: url("{% static 'img/boxed-water-is-better-Tu1AchSx2Hc-unsplash.jpg' %}");
            background-position: center;
            background-size: cover;
        }

        .bg-gradient-primarys {
            background-color: #4e73df;
            background-image: url("{% static 'img/17973908.jpg' %}");
            background-size: cover;
        }

        .centers {
            margin-top: 10%;
        }
    </style>
</head>

<body class="bg-gradient-primarys">

    <div class="container" id="user_register_post">

        <div class="card o-hidden border-0 shadow-lg centers">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-images"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Sign Up!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            placeholder="First Name" v-model="firstname">
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            placeholder="Last Name" v-model="lastname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" placeholder="City"
                                            v-model="city">
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" placeholder="Email Address" v-model="email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" v-model="password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password"
                                            v-model="repassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>
                                        En cliquant sur le bouton Register Account, vous acceptez <a
                                            href="{% url 'cgu' %}" target="_blank">les
                                            Conditions
                                            générales
                                            d'utilisation de TFE</a>.
                                    </p>
                                </div>
                                <a @click.prevent='registerUser' v-if="!is_submited"
                                    class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>

                            </form>
                            <hr>

                            <div class="text-center">
                                <a class="small" href="{% url 'connection' %}">Already have an account? Login!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        new Vue({
            el: '#user_register_post',
            data: {
                firstname: "",
                lastname: "",
                repassword: "",
                password: "",
                city: "",
                email: "",
                next: "{{ next }}",
                is_submited: false,
            },
            delimiters: ["${", "}"],
            methods: {
                registerUser: function () {
                    if (!this.email) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs Email.</h4>',
                        });
                    } else if (!this.lastname) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs prenom.</h4>',
                        });
                    } else if (!this.firstname) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs prenom.</h4>',
                        });
                    } else if (!this.city) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs ville.</h4>',
                        });
                    } else if (!this.password) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs Mot de passe.</h4>',
                        });
                    }
                    else if (this.repassword != this.password) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Les deux Mot de passe ne correspondent pas.</h4>',
                        });
                    } else {
                        this.is_submited = true
                        let formData = new FormData();
                        formData.append('email', this.email);
                        formData.append('lastname', this.lastname);
                        formData.append('firstname', this.firstname);
                        formData.append('city', this.city);
                        formData.append('password', this.password);
                        formData.append('next', this.next);
                        axios.defaults.xsrfCookieName = 'csrftoken';
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                        axios.post("{% url 'inscription' %}", formData, {})
                            .then((response) => {
                                if (response.data.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    window.location.replace("{% url 'home' %}")
                                    this.is_submited = false

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: response.data.message,
                                        // timer: 2000
                                    });
                                    console.log(response.data)
                                    this.is_submited = false
                                }
                            })
                            .catch((err) => {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Une erreur est survenu veuillez reessayer',
                                    footer: "<a href>Les developpeurs s'excusent pour les desagrements?</a>",
                                    timer: 3000
                                });
                                console.log(err);
                                this.is_submited = false
                            })
                    }
                }
            },
        })
    </script>

</body>

</html>