{% extends 'bases/base.html' %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Gaz</h1>
</div>



<div class="row">

    <div class="col-md-12">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" id="appv"><img
                        src="https://img.icons8.com/cute-clipart/50/000000/gas.png" /> Gaz: <span>${ laste_data_value
                        }
                        ppm</span> -
                    <span>${ laste_data_voltage } v</span>
                </h6>
            </div>

        </div>

    </div>

    <div class="col-md-12">

        <div class="dashboard-content">
            <div class="myRow">
                <div class="myCol9">
                    <!-- content NETATMO HQ -->
                    <div class="content-general">
                        <div class="tab-content" id="pills-tabContent">
                            <!-- temperature -->
                            <div class="tab-pane fade show active" id="temperature" role="tabpanel"
                                aria-labelledby="temperature-tab">
                                <!-- tabs jour/semaine -->


                                <!-- content temperature -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- temperature jour -->
                                    <div class="tab-pane fade show active" id="jour" role="tabpanel"
                                        aria-labelledby="jour-tab">
                                        <div class="box-card-graph">
                                            <div class="card-graph" id="echarts"></div>
                                            <div class="title-graph">
                                                <div class="firstDiv">
                                                    <h4>Gaz Jours</h4>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="myRow">
                <div class="myCol9">
                    <!-- content NETATMO HQ -->
                    <div class="content-general">
                        <div class="tab-content" id="pills-tabContent">
                            <!-- temperature -->
                            <div class="tab-pane fade show active" id="temperature" role="tabpanel"
                                aria-labelledby="temperature-tab">
                                <!-- tabs jour/semaine -->

                                <!-- content temperature -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- temperature jour -->
                                    <div class="tab-pane fade show active" id="jour" role="tabpanel"
                                        aria-labelledby="jour-tab">
                                        <div class="box-card-graph">
                                            <div class="card-graph" id="echarts-semaines"></div>
                                            <div class="title-graph">
                                                <div class="firstDiv">
                                                    <h4>Gaz Semaine</h4>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
{% endblock content %}


{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="//cdn.56k.guru/js/croner/latest/croner.min.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('echarts'));
    var myChartsemaine = echarts.init(document.getElementById('echarts-semaines'));


    let app = new Vue({
        el: "#appv",
        data: {
            donne: [],
            laste_data_value: "",
            laste_data_voltage: ""

        },
        delimiters: ["${", "}"],
        created: function () {
            this.getData();

        },
        methods: {
            getData() {
                Cron('*/3 * * * * *', function () {

                    axios
                        .get("{% url 'apimq7data' %}")
                        .then(function (response) {
                            this.donne = response.data.option;

                            app.laste_data_voltage = response.data.laste_data.voltage;
                            app.laste_data_value = response.data.laste_data.value;
                            myChartsemaine.setOption(response.data.weekoption);
                            myChart.setOption(this.donne);
                            if (response.data.laste_data.warning) {
                                // Display an error toast, with a title
                                toastr.error('Nous venons de detecter une forte presence de CO dans votre pièce.', 'Alert detection CO!', { timeOut: 5000 })

                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                });
            }
        }
    });


</script>
{% endblock js %}