{% extends 'bases/base.html' %}



{% block content %}
<!-- ici code meteo -->
<div class="dashboard">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Temperature</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ bme280.temperature }} °C</div>
                        </div>
                        <div class="col-auto">
                            <img src="https://img.icons8.com/nolan/50/temperature.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Pression</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ bme280.pressure }} hPa</div>
                        </div>
                        <div class="col-auto">
                            <img src="https://img.icons8.com/officel/50/000000/pressure.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Humidité
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ bme280.humidity }} %
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                            aria-valuenow="{{ bme280.temperature }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img src="https://img.icons8.com/office/50/000000/humidity.png" alt="img">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Gaz</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ mq7.value }} ppm | {{ mq7.voltage }}
                                v</div>
                        </div>
                        <div class="col-auto">
                            <img src="https://img.icons8.com/cute-clipart/50/000000/gas.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-content" id="myapp">
        <div class="myRow">
            <div class="myCol9 shadow h-100">

                <!-- prevention meteo 7 jours -->
                <div class="card-general">
                    <div class="card-general--two">
                        <div class="box-tabs">
                            <h6>{{ data.city.name }}: PRÉVISIONS 7 JOURS </h6>

                        </div>
                        <!-- content -->
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                <div class="bande-vertical">

                                    {% for item in data.list %}

                                    <div class="day">
                                        <div class="date">
                                            ${ timeConverter({{ item.dt }}) }
                                        </div>
                                        <div class="degre">
                                            <div class="image"><img
                                                    src="http://openweathermap.org/img/wn/{{ item.weather.0.icon }}.png"
                                                    alt="img"></div>
                                            <div class="number-degre">
                                                <span>{{ item.temp.max }}° c</span>
                                                <span>{{ item.temp.min }}° c</span>
                                            </div>
                                        </div>
                                        <div class="forecast">

                                            <span>{{ item.weather.0.description }}</span>
                                        </div>
                                        <div class="forecast">
                                            <div class="icone"><img
                                                    src="https://img.icons8.com/officel/16/000000/wind-speed-98-102.png"
                                                    alt="img"></div>
                                            <span>{{ item.speed|floatformat }} km/h</span>
                                        </div>
                                        <div class="forecast">
                                            <div class="icone"><img
                                                    src="https://img.icons8.com/nolan/50/temperature.png" alt="img">
                                            </div>
                                            <span>{{ item.temp.day|floatformat }} °C</span>
                                        </div>
                                        <div class="forecast">
                                            <div class="icone"><img
                                                    src="https://img.icons8.com/officel/50/000000/pressure.png"
                                                    alt="img">
                                            </div>
                                            <span>{{ item.pressure|floatformat }} hPa</span>
                                        </div>
                                        <div class="forecast">
                                            <div class="icone"><img
                                                    src="https://img.icons8.com/office/50/000000/humidity.png"
                                                    alt="img"></div>
                                            <span>{{ item.humidity|floatformat }} % rH</span>
                                        </div>

                                    </div>
                                    {% endfor %}


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script>
    let vm = new Vue({
        el: '#myapp',
        data: {
            name: "soro",
        },
        delimiters: ["${", "}"],
        methods: {
            timeConverter: function (UNIX_timestamp) {
                var a = new Date(UNIX_timestamp * 1000);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                var time = date + ' ' + month + ' ' + year;
                return time;
            },

        }
    });

</script>
{% endblock js %}