{% extends 'bases/base.html' %}


{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Profile</h1>
</div>



<div class="row">

    <div class="col-md-12">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><img
                        src="https://img.icons8.com/bubbles/50/000000/user-male.png" /> Profile</h6>
            </div>
            <div class="card-body">
                <p> <b>Nom: </b> {{ request.user.first_name }} </p>
                <p> <b>Prénom:</b> {{ request.user.last_name }}</p>
                <p> <b>Email:</b> {{ request.user.email }}</p>
                <p> <b>City:</b> {{ request.user.city }}</p>
            </div>
        </div>

    </div>


</div>
{% endblock content %}