{% extends 'bases/base.html' %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Temperature</h1>
</div>



<div class="row">

    <div class="col-md-12">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-body py-3">
                <h6 class="m-0 font-weight-bold text-primary"><img
                        src="https://img.icons8.com/nolan/50/temperature.png" /> Température <span>{{ bme280.temperature }}°C</span></h6>
            </div>

        </div>

    </div>

    <div class="col-md-12">

      <div class="dashboard-content">
            <div class="myRow">
                <div class="myCol9">
                    <!-- content NETATMO HQ -->
                    <div class="content-general">
                        <div class="tab-content" id="pills-tabContent">
                            <!-- temperature -->
                            <div class="tab-pane fade show active" id="temperature" role="tabpanel"
                                aria-labelledby="temperature-tab">
                                <!-- tabs jour/semaine -->


                                <!-- content temperature -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- temperature jour -->
                                    <div class="tab-pane fade show active" id="jour" role="tabpanel"
                                        aria-labelledby="jour-tab">
                                        <div class="box-card-graph">
                                            <div class="card-graph" id="echarts"></div>
                                            <div class="title-graph">
                                                <div class="firstDiv">
                                                    <h4>Temperature Jours</h4>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="myRow">
                <div class="myCol9">
                    <!-- content NETATMO HQ -->
                    <div class="content-general">
                        <div class="tab-content" id="pills-tabContent">
                            <!-- temperature -->
                            <div class="tab-pane fade show active" id="temperature" role="tabpanel"
                                aria-labelledby="temperature-tab">
                                <!-- tabs jour/semaine -->

                                <!-- content temperature -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- temperature jour -->
                                    <div class="tab-pane fade show active" id="jour" role="tabpanel"
                                        aria-labelledby="jour-tab">
                                        <div class="box-card-graph">
                                            <div class="card-graph" id="echarts-semaines"></div>
                                            <div class="title-graph">
                                                <div class="firstDiv">
                                                    <h4>Temperature Semaine</h4>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
{% endblock content %}


{% block js %}
<script>
var myChart = echarts.init(document.getElementById('echarts'));
    option = {
        tooltip: {

            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [
            {% for bm in bme280_24  %}
            	"{{ bm.date_add|time:"H:i" }}",
            {% endfor %}
            ].reverse()
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: 'temperature',
            data: [
            {% for bm in bme280_24  %}
            	{{ bm.temperature }},
            {% endfor %}
            ].reverse(),
            type: 'line',
            areaStyle: {}
        }]
    };
  myChart.setOption(option);
  var myChartsemaine = echarts.init(document.getElementById('echarts-semaines'));
    option = {
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            data: [
                {% for item in weekbme280 %}
                "{{ item.day|date }}",
            {% endfor %}
            ].reverse()
        },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [
            {% for item in weekbme280 %}
                    {{ item.temp }},
    {% endfor %}
    ],
        type: 'line'
        }].reverse()
    };
    myChartsemaine.setOption(option);
</script>
{% endblock js %}