* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  *:focus {
    outline: none !important;
  }
  
  html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
  }
  
  body {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    margin-bottom: 0 !important;
  }
  
  a, a:hover {
    text-decoration: none !important;
  }
  
  .dot {
    background-image: linear-gradient(to right, #e1e1e1 20%, rgba(255, 255, 255, 0) 0);
    background-position: top;
    background-size: 10px 5px;
    background-repeat: repeat-x;
    height: 2px;
    margin: 0 10px;
  }
  
  .co2blur {
    width: 3px;
    height: 3px;
    display: inline-block;
    background-size: 100% auto;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
    background-color: #13ff00;
    box-shadow: #13ff00 0px 0px 3px 3px;
  }
  
  .myRow {
    display: flex;
  }
  
  .myRow .myCol3 {
    width: 16rem;
    margin-right: 15px;
  }
  
  .myRow .myCol9 {
    flex: 1;
  }
  
  .dashboard {
    /* background-color: #f1f7fa; */
    height: 100%;
    /* padding: 5rem 2rem; */
  }
  
  .dashboard-content {
    overflow-x: scroll;
  }
  
  .dashboard-content::-webkit-scrollbar {
    display: none;
  }
  
  .dashboard-content .card-general {
    min-height: 3rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .dashboard-content .card-general--one .box-progress {
    padding: .8rem;
  }
  
  .dashboard-content .card-general--one .box-progress .box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashboard-content .card-general--one .box-progress .box-text .text {
    font-size: 15px;
  }
  
  .dashboard-content .card-general--one .box-progress .box-text .number {
    font-weight: bold;
    font-size: 15px;
    color: #2241b3;
  }
  
  .dashboard-content .card-general--one .box-weaher .nav {
    display: flex;
    flex-direction: column !important;
  }
  
  .dashboard-content .card-general--one .box-weaher .nav .nav-item .nav-link {
    transition: all .3s ease;
    color: #000;
  }
  
  .dashboard-content .card-general--one .box-weaher .nav .nav-item .nav-link.active {
    background-color: #4a6fdc12;
  }
  
  .dashboard-content .card-general--one .box-weaher .nav .nav-item .nav-link:hover {
    background-color: #4a6fdc12;
  }
  
  .dashboard-content .card-general--one .weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
  }

  .dashboard-content .card-general--one .weather h4 {
      font-size: 15px;
  }
  
  .dashboard-content .card-general--one .weather:not(:first-child) {
    border-top: 1px solid #efefef;
  }
  
  .dashboard-content .card-general--one .weather .image {
    height: 30px;
    width: 30px;
  }
  
  .dashboard-content .card-general--one .weather .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .dashboard-content .card-general--one .weather-element h4 {
      font-size: 18px;
  }
  
  .dashboard-content .card-general--one .weather-element p {
    font-size: 25px;
    color: #2241b3;
    margin-bottom: 0 !important;
  }
  
  .dashboard-content .card-general--one .weather-element p span {
    font-size: 20px;
    color: #c9c9c9;
    font-weight: bold;
    padding-left: .5rem;
  }
  
  .dashboard-content .card-general--one .weather.--other {
    justify-content: space-around;
  }
  
  .dashboard-content .card-general--one .weather.--other .row-values {
    text-align: center;
    padding-right: 8px;
  }
  
  .dashboard-content .card-general--one .weather.--other .row-values h5 {
    font-weight: 500;
    font-size: 13px;
  }
  
  .dashboard-content .card-general--one .weather.--other .row-values p {
    font-size: 15px;
    color: #000;
    margin-bottom: 0 !important;
  }
  
  .dashboard-content .card-general--one .weather.--other .row-values p span {
    color: #2241b3;
    font-size: 15px;
    font-weight: 500;
  }
  
  .dashboard-content .card-general--two .box-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px dashed #c9c9c9;
  }
  
  .dashboard-content .card-general--two .box-tabs .nav .nav-link {
    font-size: 15px;
    color: rgba(56, 140, 191, 0.6);
    text-transform: uppercase;
    transition: all .3s ease;
  }
  
  .dashboard-content .card-general--two .box-tabs .nav .nav-link:hover {
    color: #2241b3;
  }
  
  .dashboard-content .card-general--two .box-tabs .nav .nav-link.active {
    background-color: #2241b3;
    color: #fff;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day {
    background-color: #fff;
    width: 100%;
    padding: 0 10px;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day:nth-of-type(even) {
    background-color: #4a6fdc12;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .date {
    text-align: center;
    font-size: 12px;
    color: #2241b3;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .date span {
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .degre {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .degre .image {
    height: 50px;
    width: 50px;
    margin-left: -1rem;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .degre .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .degre .number-degre {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .forecast {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .forecast .icone {
    height: 25px;
    width: 25px;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .forecast .icone img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .dashboard-content .card-general--two .tab-content .bande-vertical .day .forecast span {
    padding-left: .8rem;
    font-size: 15px;
  }
  
  .dashboard-content .content-general .box-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .dashboard-content .content-general .box-tabs .nav .nav-link {
    font-size: 15px;
    color: rgba(56, 140, 191, 0.6);
    text-transform: uppercase;
    transition: all .3s ease;
  }
  
  .dashboard-content .content-general .box-tabs .nav .nav-link:hover {
    color: #2241b3;
  }
  
  .dashboard-content .content-general .box-tabs .nav .nav-link.active {
    background-color: #2241b3;
    color: #fff;
  }
  
  .dashboard-content .content-general .box-tabs .box-calendar .days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2241b3;
  }
  
  .dashboard-content .content-general .box-tabs .box-calendar .days p {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 2rem;
  }
  
  .dashboard-content .content-general .box-tabs .box-calendar .days span {
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
  }
  
  .dashboard-content .content-general .box-card-graph {
    position: relative;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    color: #2241b3;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .firstDiv {
    display: flex;
    align-items: center;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .firstDiv h4 {
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .firstDiv .icone {
    cursor: pointer;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .firstDiv .icone .fa {
    font-size: 15px;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .secondDiv {
    display: flex;
    align-items: center;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .secondDiv p {
    color: #000;
    font-size: 15px;
    padding-right: 5rem;
    margin-bottom: 0 !important;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .secondDiv .icone {
    cursor: pointer;
  }
  
  .dashboard-content .content-general .box-card-graph .title-graph .secondDiv .icone .fa {
    font-size: 20px;
  }
  
  .dashboard-content .content-general .box-card-graph .card-graph {
    height: 25rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .heading {
    text-align: center;
    padding: .8rem;
    position: relative;
  }
  
  .heading h4 {
    color: #2241b3;
    font-size: 15px;
    margin-bottom: 0 !important;
  }
  
  .heading .icone {
    position: absolute;
    right: 14px;
    transform: translate(-50%, -50%);
    top: 50%;
    cursor: pointer;
  }
  
  .heading .icone .fa {
    font-size: 15px;
    color: #2241b3;
  }

  @media (max-width: 1024px) {
    .dashboard-content .card-general--two .tab-content .bande-vertical .day {
        width: 8rem;
    }
  }

  @media (max-width: 768px) {
    .dashboard-content .card-general .card-general--one {
        width: 16rem;
    }
  }

  /*# sourceMappingURL=main.css.map */